*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}
body{
  font-family: 'Poppins', sans-serif;
  background-color: hsl(250, 60%, 98%);
  /* overflow: hidden; */
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
.header{
    width: 100%;
    height: 3.5rem;
    box-shadow: 0px 0px 4px;
    top: 0;
    right: 0;
    left: 0;
    color: hsl(250, 8%, 35%);
    position: relative;
    position: fixed;
    background-color: hsl(250, 60%, 98%);
    z-index: 999;
}

.header .navbar{
    display: flex;
    padding: 0.1rem 15rem;
    align-items: center;
    justify-content: space-between;
}
.header .navbar .logo{
  font-size: 2rem;
  padding-top: 5px;
  margin-left: 2rem;
  font-family: 'Poppins', sans-serif;
}
.header .center ul{
  list-style: none;
  display: flex;
  text-transform: capitalize;
  padding-right: 23rem;
}
.header .center li{
  margin-right: 25px; 
  padding-top: 15px;
  text-decoration: none;
  font-size: 1rem
  
}
.header .center a{
  text-decoration: none;
  color: hsl(250, 8%, 35%);
}
.header .center li a:hover{
  color: #e98446;
}
.header .navbar .icon{
  padding-top: 10px;
}
.header .navbar .icon i{
  margin-right: 10px;
}
#bar{
  display: none;
  cursor: pointer;
}
.header .navbar .icon #bar{
  justify-content: end;
  margin-left: 34rem;
  display: none;
}

/* Responsive typography */
/* @media screen and (max-width: 1254px){
  .header .center{
    margin-left: -10rem;
  }
  .header .navbar .icon{
    margin-left: -33rem;
  }
  .header .icon{
    display: flex;
  }
}
@media screen and (max-width: 1200px) {
  .header .center{
    margin-left: -10rem;
  }
  .header .navbar .icon{
    margin-left: -33rem;
  }
  .header .icon{
    display: flex;
  }
}
@media screen and (max-width: 992px) {
  .header .center ul{
    display: none;
  }
  .header .navbar{
    padding: 0 3rem;
  }
  .header .navbar .icon .fas{
    display: none;
  }
  #bar{
    display: block;
  }
  .navbar .center li a{
    display: block;
    font-size: 20px;
    margin: 8px 0;
  }
  .center.active{
      right: 0;
  }
} */
 
  /* main */
 
.section{
  width: 100%;
  margin-top: 3.5rem;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.myslides{
  width: 50%
  
}
.section .container .myslides img{
  width: 450px;
  margin-right:3rem;
  margin-top: 5rem;
  margin-left: 16rem;
}
.container .text{
  color: hsl(250, 8%, 35%);
  width: 40%;
  height: 535px;
  margin-right: 6rem;
}
.container .text h1{
  font-size:15px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  margin-top: 7rem;
  margin-bottom: 1rem;
}
.container .text h6{
  font-size: 3rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  color: black;
  letter-spacing: 2px;
  font-weight: 700;
}
.container .text p{
  padding-top: 20px;
  line-height: 1.5rem;
}
.container .text .we{
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.container .text button{
  width: 6.5rem;
  height: 3rem;
  color: white;
  background-color:rgb(255, 72, 0);
  border-radius: 5px;
  border: none;
  text-transform: capitalize;
  margin-top: 2.5rem;
}
.container .text .we p{
  margin-right: 12rem;
  margin-top: 2.5rem;
}
.container .text .we i{
  padding-left: 10px;
}
/* section 1 */
#section{
  width: 100%;
  height: 50%;
  justify-content: center;
  display: flex;
}
#section .container{
  width: 75%;
  margin-top: 150px;
  justify-content: center;
  align-content: center;
  background:#fff;
  height: 300px;
  border-radius: 50px;
}
#section .container .image{
  width: 50%;
  display: flex;
  justify-content: center;

}
#section .container .image img{
  width: 200px;
  height: 200px;
  align-items: center;
  justify-content: center;

}
#section .container .discount{
  width: 50%;
 padding-left:3rem;
}
#section .container .discount h1{
  font-size: 2.25rem;
  font-weight: 100;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;  
}
#section .container .discount .five{
  margin-left: 2rem;
}
#section .container .discount button{
  margin-top: 3rem;
  margin-left: 5rem;
  width: 7rem;
  height: 3rem;
  color: white;
  background-color:rgb(255, 72, 0);
  border-radius: 5px;
  border: none;
  font-family: 'Poppins', sans-serif; 
}
/*  */
.newarrivals{
  font-size: 2rem;
  margin-top: 7rem;
  width: 100%;
  font-weight: 100;
  color:black;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
}
/*  */
.post-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.post-container .post{
 width: 250px;
 background-color: #fff;
 padding: 1rem 2rem;
 border-radius: 8px;
}
.post-container .post .image img{
   height: 130px;
   width: 130px;
   object-fit: cover;
   padding-top: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 2rem;
   position: relative;
  transition: .5s ease-out;
}
.post-container .post .image img:hover{
  transform: translatey(-5px);

}
.post-container .post .new p{
  width: 50px;
  position:absolute;
  height: 30px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 5px;
  margin-left: -10px;
  text-align: center;
  padding-top: 7px;
  background-color: rgb(255, 72, 0);
  color: white;
}
.post-container .post .content{
  font-size: 1rem;
  font-weight: 100;
  color:black;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  margin-left: 50px;
}
.post-container .post .content .titletwo{
  margin-left: 1rem;
  margin-top: 0.3rem;
}
.post-container .post .content #do{
  padding-left:0.2rem;
  font-size: 16px;
  
  line-height: 3.5rem;
}
.post-container .post .content .title{
  font-size: 1rem;
  font-weight: 100;
  color:black;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  padding-top: 2rem;
}
.post-container .post .content{
  padding: 0 20px;
}
.post-container .post .content .date{
  margin: 10px 0;
  font-size: 15px;
  color: #666;
}
.post-container .post .content{
  font-size: 14px;
  padding: 5px 0;
  color: #666;
}
/* order section */
.order{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order .products{
  width: 75%;
  background-color: #fff;
  border-radius: 10px;
}
.order .products .text{
   width: 100%;
   font-size: 2.5rem;
   padding-left: 20rem;
   margin-top: 4rem;  
}
.order .card{
  width: 100%;
  display: flex;
  gap: 2.3rem;
  margin-left: 3.5rem;
  height: 18rem;
}
.order .card .cards{
  width: 20rem;
  height: 14rem;
  background-color: hsl(250, 60%, 98%);
  border-radius: 10px;
}
.order .card .cards span p{
  width: 45px;
  height: 45px;
  background-color:rgb(255, 72, 0);
  border-radius: 5px;
  color: white;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 10px;
  margin-left: 1.3rem;
  margin-top: 10px;
}
.order .card .cards .zero{
  font-size: 20px;
  padding-left: 10px;
  padding-top: 10px;
  margin-left: 1.3rem;
}
.order .card .cards #we{
  color: #666;
  margin-left: 1.3rem;
  margin-top: 1rem;
}
/* newsletter section*/
.newsletter{
  width: 100%;
}
.newsletter .letter .our{
  text-transform: capitalize;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
}
.newsletter .letter .wrapper{
  width: 28rem;
  background:white;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 10px;
}
.newsletter .letter .wrapper .field{
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.newsletter .letter .wrapper .field input{
  width: 17.8rem;
  border: none;
  outline: none;
}
.newsletter .letter .wrapper .field button{
  width: 7rem;
  height: 3rem;
  background-color:  rgb(255, 72, 0);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 100;
  text-transform: capitalize;
}
.footer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  margin-top: 10rem;
  padding-left: 4rem;
  padding-right: 3rem; 
  text-transform: capitalize; 
  line-height: 2rem;
}
.footer h1{
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  padding-bottom: 1rem;
}
.footer .e-shopper h1{
  text-transform: lowercase;
}
.footer p{
  color: #666;
  font-size: 1rem;
}
.copy{
  width: 100%;
  color: #666;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  margin-bottom: 3rem;
}
.header .navbar .center .div{
  width: 6px;
  height: 6px;
  margin-top: 2px;
  background: rgb(23, 22, 22);
  margin-bottom: -15px;
  margin-left: 1.2rem;
  border-radius: 50%;
}